{% extends 'layout/main.html' %}

<!-- {% block title %}
<title> All Books </title>
{% endblock %} -->

{% block body %}
<!-- <h1>Hello from index</h1> -->
<h1 style="color: blue">All Books</h1>





{% if request.user.is_authenticated %}
   <h3>welcome {{request.user}}</h3>
{% endif %}


{% for book in books %}
<h2>book title : </h2>
<p> {{book.isbin.book_title}}</p>
<!-- <h2>{{book.title}}</h2> -->
<h2>book content :</h2>
<p>{{book.content}}</p>
<a href="{% url "showbook" book.id %}">Show Book</a>
<a href="{% url "delete" book.id %}">Delete Book</a>
<a href="{% url "edit" book.id %}">Edit Book</a>

<hr />
{%endfor%}    
<a href="{% url "create" %}">Book informtion</a>
<a href="{% url "createcategory" %}">Create category</a>
<a href="{% url "createuuid" %}">create book </a>
{% endblock  %}
