{% extends 'layout/main.html' %}

<!-- {% block title %}
<title> All Books </title>
{% endblock %} -->

{% block body %}
<!-- <h1>Hello from index</h1> -->
<h1 style="color: blue">All Books</h1>
{% for book in books %}
<h2>{{book.title}}</h2>
<p>{{book.content}}</p>
<a href="{% url "showbook" book.id %}">Show Book</a>
<a href="{% url "delete" book.id %}">Delete Book</a>
<a href="{% url "edit" book.id %}">Edit Book</a>

<hr />
{%endfor%}    
<a href="{% url "create" %}">Create Book</a>

{% endblock  %}
